In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from xgboost import XGBRegressor

In [3]:
!pip install xgboost

Requirement already satisfied: xgboost in /Users/masahiromorino/opt/anaconda3/envs/pydataenv/lib/python3.8/site-packages (1.4.2)
Requirement already satisfied: scipy in /Users/masahiromorino/opt/anaconda3/envs/pydataenv/lib/python3.8/site-packages (from xgboost) (1.5.2)
Requirement already satisfied: numpy in /Users/masahiromorino/opt/anaconda3/envs/pydataenv/lib/python3.8/site-packages (from xgboost) (1.19.2)

In [4]:
train = pd.read_csv('input/30-days-of-ml/train_folds.csv')
test = pd.read_csv('input/30-days-of-ml/test.csv')
sample_submission = pd.read_csv('input/30-days-of-ml/sample_submission.csv')

In [5]:
train.head()

,id,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,...,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,target,kFold
0,1,B,B,B,C,B,B,A,E,C,...,0.160266,0.310921,0.389470,0.267559,0.237281,0.377873,0.322401,0.869850,8.113634,0
1,2,B,B,A,A,B,D,A,F,A,...,0.558922,0.516294,0.594928,0.341439,0.906013,0.921701,0.261975,0.465083,8.481233,2
2,3,A,A,A,C,B,D,A,D,A,...,0.375348,0.902567,0.555205,0.843531,0.748809,0.620126,0.541474,0.763846,8.364351,4
3,4,B,B,A,C,B,D,A,E,C,...,0.239061,0.732948,0.679618,0.574844,0.346010,0.714610,0.540150,0.280682,8.049253,3
4,6,A,A,A,C,B,D,A,E,A,...,0.420667,0.648182,0.684501,0.956692,1.000773,0.776742,0.625849,0.250823,7.972260,1

In [47]:
test.head()

,id,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,...,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13
0,0,B,B,B,C,B,B,A,E,E,...,0.476739,0.376350,0.337884,0.321832,0.445212,0.290258,0.244476,0.087914,0.301831,0.845702
1,5,A,B,A,C,B,C,A,E,C,...,0.285509,0.860046,0.798712,0.835961,0.391657,0.288276,0.549568,0.905097,0.850684,0.693940
2,15,B,A,A,A,B,B,A,E,D,...,0.697272,0.683600,0.404089,0.879379,0.275549,0.427871,0.491667,0.384315,0.376689,0.508099
3,16,B,B,A,C,B,D,A,E,A,...,0.719306,0.777890,0.730954,0.644315,1.024017,0.391090,0.988340,0.411828,0.393585,0.461372
4,17,B,B,A,C,B,C,A,E,C,...,0.313032,0.431007,0.390992,0.408874,0.447887,0.390253,0.648932,0.385935,0.370401,0.900412

In [48]:
sample_submission.head()

   id  target
0   0     0.5
1   5     0.5
2  15     0.5
3  16     0.5
4  17     0.5

In [17]:
train.columns

Index(['id', 'cat0', 'cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7',
       'cat8', 'cat9', 'cont0', 'cont1', 'cont2', 'cont3', 'cont4', 'cont5',
       'cont6', 'cont7', 'cont8', 'cont9', 'cont10', 'cont11', 'cont12',
       'cont13', 'target', 'kFold'],
      dtype='object')

In [10]:
y = train.target
train.drop(['target', 'id'], axis=1, inplace=True)
test.drop(['id'], axis=1, inplace=True)

train.head()

AttributeError: 'DataFrame' object has no attribute 'target'

In [17]:
train.head()
train.drop('kFold', axis=1)

,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13
0,B,B,B,C,B,B,A,E,C,N,...,0.610706,0.400361,0.160266,0.310921,0.389470,0.267559,0.237281,0.377873,0.322401,0.869850
1,B,B,A,A,B,D,A,F,A,O,...,0.276853,0.533087,0.558922,0.516294,0.594928,0.341439,0.906013,0.921701,0.261975,0.465083
2,A,A,A,C,B,D,A,D,A,F,...,0.285074,0.650609,0.375348,0.902567,0.555205,0.843531,0.748809,0.620126,0.541474,0.763846
3,B,B,A,C,B,D,A,E,C,K,...,0.284667,0.668980,0.239061,0.732948,0.679618,0.574844,0.346010,0.714610,0.540150,0.280682
4,A,A,A,C,B,D,A,E,A,N,...,0.287595,0.686964,0.420667,0.648182,0.684501,0.956692,1.000773,0.776742,0.625849,0.250823
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,B,B,A,A,B,D,A,E,A,I,...,0.307883,0.769792,0.450538,0.934360,1.005077,0.853726,0.422541,1.063463,0.697685,0.506404
299996,A,B,A,C,B,B,A,E,E,F,...,0.736713,0.528056,0.508502,0.358247,0.257825,0.433525,0.301015,0.268447,0.577055,0.823611
299997,B,B,A,C,B,C,A,E,G,F,...,0.277074,0.688747,0.372425,0.364936,0.383224,0.551825,0.661007,0.629606,0.714139,0.245732
299998,A,B,A,C,B,B,A,E,E,I,...,0.805963,0.344404,0.424243,0.382028,0.468819,0.351036,0.288768,0.611169,0.380254,0.332030
299999,A,A,A,C,A,D,A,E,A,O,...,0.276785,0.565347,0.328669,0.789165,0.960406,0.776019,0.734707,0.484392,0.639754,0.689317

In [20]:
train.drop(['kFold'], axis=1, inplace=True)
train

KeyError: "['kFold'] not found in axis"

In [23]:

test

,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13
0,B,B,B,C,B,B,A,E,E,I,...,0.476739,0.376350,0.337884,0.321832,0.445212,0.290258,0.244476,0.087914,0.301831,0.845702
1,A,B,A,C,B,C,A,E,C,H,...,0.285509,0.860046,0.798712,0.835961,0.391657,0.288276,0.549568,0.905097,0.850684,0.693940
2,B,A,A,A,B,B,A,E,D,K,...,0.697272,0.683600,0.404089,0.879379,0.275549,0.427871,0.491667,0.384315,0.376689,0.508099
3,B,B,A,C,B,D,A,E,A,N,...,0.719306,0.777890,0.730954,0.644315,1.024017,0.391090,0.988340,0.411828,0.393585,0.461372
4,B,B,A,C,B,C,A,E,C,F,...,0.313032,0.431007,0.390992,0.408874,0.447887,0.390253,0.648932,0.385935,0.370401,0.900412
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,B,A,A,C,B,D,A,E,E,I,...,0.287454,0.543800,0.682378,1.028978,1.022741,0.683903,0.877273,0.532410,0.605397,0.884581
199996,B,A,A,C,B,B,A,E,C,F,...,0.794881,0.432778,0.389775,0.359871,0.550013,0.492082,0.202295,0.416875,0.406205,0.758665
199997,A,B,B,C,B,B,A,E,C,I,...,0.514487,0.060997,0.171741,0.317185,0.150340,0.122109,0.390524,0.334026,0.378987,0.839416
199998,A,A,A,C,B,D,A,D,A,F,...,0.286144,1.061710,0.819811,0.901241,0.555339,0.844315,0.894193,0.794102,0.844279,0.890473
199999,A,A,A,C,B,D,A,E,A,J,...,0.286755,1.065725,0.687682,0.654738,0.574575,0.617467,0.694336,0.745698,0.568525,0.783568

In [25]:
print("Train shape: ", train.shape, "\nTest shape: ", test.shape)

Train shape:  (300000, 24)
Test shape:  (200000, 24)

In [27]:
from sklearn.preprocessing import OrdinalEncoder
cat_cols = [col for col in train.columns if 'cat' in col]

X = train.copy()
X_test = test.copy()
enc = OrdinalEncoder()
X[cat_cols] = enc.fit_transform(train[cat_cols])
X_test[cat_cols] = enc.transform(test[cat_cols])
X.head()

,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13
0,1.0,1.0,1.0,2.0,1.0,1.0,0.0,4.0,2.0,13.0,...,0.610706,0.400361,0.160266,0.310921,0.389470,0.267559,0.237281,0.377873,0.322401,0.869850
1,1.0,1.0,0.0,0.0,1.0,3.0,0.0,5.0,0.0,14.0,...,0.276853,0.533087,0.558922,0.516294,0.594928,0.341439,0.906013,0.921701,0.261975,0.465083
2,0.0,0.0,0.0,2.0,1.0,3.0,0.0,3.0,0.0,5.0,...,0.285074,0.650609,0.375348,0.902567,0.555205,0.843531,0.748809,0.620126,0.541474,0.763846
3,1.0,1.0,0.0,2.0,1.0,3.0,0.0,4.0,2.0,10.0,...,0.284667,0.668980,0.239061,0.732948,0.679618,0.574844,0.346010,0.714610,0.540150,0.280682
4,0.0,0.0,0.0,2.0,1.0,3.0,0.0,4.0,0.0,13.0,...,0.287595,0.686964,0.420667,0.648182,0.684501,0.956692,1.000773,0.776742,0.625849,0.250823

In [28]:
X_test.head()

,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13
0,1.0,1.0,1.0,2.0,1.0,1.0,0.0,4.0,4.0,8.0,...,0.476739,0.376350,0.337884,0.321832,0.445212,0.290258,0.244476,0.087914,0.301831,0.845702
1,0.0,1.0,0.0,2.0,1.0,2.0,0.0,4.0,2.0,7.0,...,0.285509,0.860046,0.798712,0.835961,0.391657,0.288276,0.549568,0.905097,0.850684,0.693940
2,1.0,0.0,0.0,0.0,1.0,1.0,0.0,4.0,3.0,10.0,...,0.697272,0.683600,0.404089,0.879379,0.275549,0.427871,0.491667,0.384315,0.376689,0.508099
3,1.0,1.0,0.0,2.0,1.0,3.0,0.0,4.0,0.0,13.0,...,0.719306,0.777890,0.730954,0.644315,1.024017,0.391090,0.988340,0.411828,0.393585,0.461372
4,1.0,1.0,0.0,2.0,1.0,2.0,0.0,4.0,2.0,5.0,...,0.313032,0.431007,0.390992,0.408874,0.447887,0.390253,0.648932,0.385935,0.370401,0.900412

In [30]:
X.head()

,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13
0,1.0,1.0,1.0,2.0,1.0,1.0,0.0,4.0,2.0,13.0,...,0.610706,0.400361,0.160266,0.310921,0.389470,0.267559,0.237281,0.377873,0.322401,0.869850
1,1.0,1.0,0.0,0.0,1.0,3.0,0.0,5.0,0.0,14.0,...,0.276853,0.533087,0.558922,0.516294,0.594928,0.341439,0.906013,0.921701,0.261975,0.465083
2,0.0,0.0,0.0,2.0,1.0,3.0,0.0,3.0,0.0,5.0,...,0.285074,0.650609,0.375348,0.902567,0.555205,0.843531,0.748809,0.620126,0.541474,0.763846
3,1.0,1.0,0.0,2.0,1.0,3.0,0.0,4.0,2.0,10.0,...,0.284667,0.668980,0.239061,0.732948,0.679618,0.574844,0.346010,0.714610,0.540150,0.280682
4,0.0,0.0,0.0,2.0,1.0,3.0,0.0,4.0,0.0,13.0,...,0.287595,0.686964,0.420667,0.648182,0.684501,0.956692,1.000773,0.776742,0.625849,0.250823

In [44]:

X_stats = X.describe()
X_stats = X_stats.transpose()
X_stats

,count,mean,std,min,25%,50%,75%,max
cat0,300000.0,0.356233,0.478886,0.000000,0.000000,0.000000,1.000000,1.000000
cat1,300000.0,0.483920,0.499742,0.000000,0.000000,0.000000,1.000000,1.000000
cat2,300000.0,0.153713,0.360674,0.000000,0.000000,0.000000,0.000000,1.000000
cat3,300000.0,1.800953,0.632288,0.000000,2.000000,2.000000,2.000000,3.000000
cat4,300000.0,0.999400,0.150576,0.000000,1.000000,1.000000,1.000000,3.000000
cat5,300000.0,1.894157,0.981864,0.000000,1.000000,1.000000,3.000000,3.000000
cat6,300000.0,0.040960,0.280504,0.000000,0.000000,0.000000,0.000000,7.000000
cat7,300000.0,3.897103,0.567165,0.000000,4.000000,4.000000,4.000000,7.000000
cat8,300000.0,2.396427,1.835474,0.000000,0.000000,2.000000,4.000000,6.000000
cat9,300000.0,7.382510,3.419299,0.000000,5.000000,8.000000,10.000000,14.000000
cont0,300000.0,0.527335,0.230599,-0.118039,0.405965,0.497053,0.668060,1.058443
cont1,300000.0,0.460926,0.214003,-0.069309,0.310494,0.427903,0.615113,0.887253
cont2,300000.0,0.490498,0.253346,-0.056104,0.300604,0.502462,0.647512,1.034704
cont3,300000.0,0.496689,0.219199,0.130676,0.329783,0.465026,0.664451,1.039560
cont4,300000.0,0.491654,0.240074,0.255908,0.284188,0.390470,0.696599,1.055424
cont5,300000.0,0.510526,0.228232,0.045915,0.354141,0.488865,0.669625,1.067649
cont6,300000.0,0.467476,0.210331,-0.224689,0.342873,0.429383,0.573383,1.111552
cont7,300000.0,0.537119,0.218140,0.203763,0.355825,0.504661,0.703441,1.032837
cont8,300000.0,0.498456,0.239920,-0.260275,0.332486,0.439151,0.606056,1.040229
cont9,300000.0,0.474872,0.218007,0.117896,0.306874,0.434620,0.614333,0.982922
cont10,300000.0,0.474492,0.255949,0.048732,0.276017,0.459975,0.691579,1.055960
cont11,300000.0,0.473216,0.222022,0.052608,0.308151,0.433812,0.642057,1.071444
cont12,300000.0,0.494561,0.247292,-0.074208,0.289074,0.422887,0.714502,0.975035
cont13,300000.0,0.508273,0.222950,0.151050,0.300669,0.472400,0.758447,0.905992

In [45]:
#正規化

def norm(x):
    return (x - X_stats['mean']) / X_stats['std']

normed_X = norm(X)
normed_X_test = norm(X_test)

In [46]:
normed_X.head()

,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13
0,1.344300,1.032692,2.346401,0.314804,0.003985,-0.910673,-0.146023,0.181423,-0.215981,1.642877,...,0.495895,-0.482689,-1.460603,-1.036940,-0.454260,-0.950947,-0.926789,-0.429434,-0.696181,1.621788
1,1.344300,1.032692,-0.426183,-2.848311,0.003985,1.126269,-0.146023,1.944577,-1.305618,1.935335,...,-0.894730,0.098848,0.434768,-0.095470,0.402103,-0.612056,1.685964,2.020004,-0.940530,-0.193719
2,-0.743879,-0.968339,-0.426183,0.314804,0.003985,1.126269,-0.146023,-1.581731,-1.305618,-0.696783,...,-0.860485,0.613775,-0.438014,1.675291,0.236533,1.691036,1.071763,0.661690,0.189707,1.146326
3,1.344300,1.032692,-0.426183,0.314804,0.003985,1.126269,-0.146023,0.181423,-0.215981,0.765505,...,-0.862181,0.694265,-1.085978,0.897722,0.755096,0.458570,-0.501980,1.087255,0.184353,-1.020815
4,-0.743879,-0.968339,-0.426183,0.314804,0.003985,1.126269,-0.146023,0.181423,-1.305618,1.642877,...,-0.849984,0.773065,-0.222549,0.509136,0.775449,2.210109,2.056192,1.367099,0.530904,-1.154740

In [57]:
from tqdm import tqdm
import gc
from functools import reduce
from sklearn.model_selection import StratifiedKFold
from tensorflow import keras

In [62]:
import tensorflow as tf
import tensorflow.keras.layers as L
import tensorflow.keras.models as M
from sklearn.metrics import mean_absolute_error, mean_squared_error
from tensorflow.keras.callbacks import ModelCheckpoint, ReduceLROnPlateau, EarlyStopping

tf.random.set_seed(777)
NFOLDS = 6
skf = StratifiedKFold(n_splits=NFOLDS)
# folds = skf.split(X, cl)
# folds = list(folds)


def def_model():
#     inp = L.Input(name="inputs", shape=(n_in,))
    model = keras.Sequential([
        L.Dense(64, activation="relu", name="d1", input_shape=[len(X.keys())]), 
        L.Dense(64, activation="relu", name="d2") 
        L.Dense(1)
    ])
    
    optimizer = tf.keras.optimizers.RMSprop(0.001)
    
#     preds = L.Dense(4, activation="linear", name="preds")(x)

    model.compile(loss="mse", optimizer="adam",
                  metrics=['mae', tf.keras.metrics.RootMeanSquaredError()])
    return model

net = def_model()
print(net.summary())

# oof = np.zeros(y.shape)
# nets = []
# for idx in range(NFOLDS):
#     print("FOLD:", idx)
#     tr_idx, val_idx = folds[idx]
#     ckpt = ModelCheckpoint(f"w{idx}.h5", monitor='val_loss', verbose=1, save_best_only=True,mode='min')
#     reduce_lr = ReduceLROnPlateau(monitor='val_loss', factor=0.2,patience=3, min_lr=0.0005)
#     es = EarlyStopping(monitor='val_loss', patience=6)
#     reg = make_model(X.shape[1])
# #     reg.fit(X[tr_idx], y[tr_idx], epochs=10, batch_size=35_000, validation_data=(X[val_idx], y[val_idx]),
# #             verbose=1, callbacks=[ckpt, reduce_lr, es])
#     reg.load_weights(f"w{idx}.h5")
#     oof[val_idx] = reg.predict(X[val_idx], batch_size=50_000, verbose=1)
#     nets.append(reg)
#     gc.collect()
#     #
# #

# mae = mean_absolute_error(y, oof)
# rmse = np.sqrt(mean_squared_error(y_valid, oof_preds[valid_id]))
# print("mae:", mae)
# print("rmse:", rmse)


# del tr

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
d1 (Dense)                   (None, 64)                1600
_________________________________________________________________
d2 (Dense)                   (None, 64)                4160
=================================================================
Total params: 5,760
Trainable params: 5,760
Non-trainable params: 0
_________________________________________________________________
None

In [63]:
example_batch = normed_X[:10]
example_result = net.predict(example_batch)
example_result

array([[1.4967858 , 0.        , 0.31007132, 0.6060863 , 0.23749973,
        0.28751573, 0.20409411, 0.        , 0.1474778 , 0.        ,
        0.28664994, 0.        , 0.35190642, 0.        , 0.        ,
        0.81133133, 0.8445195 , 0.26256022, 0.11722787, 0.        ,
        0.        , 1.2508324 , 0.86593705, 0.28976172, 0.70687294,
        0.        , 0.7280912 , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.3425996 ,
        0.        , 0.        , 0.7796953 , 0.6972081 , 0.06608918,
        0.6357151 , 0.6092821 , 0.        , 0.        , 0.05680601,
        0.        , 0.        , 0.08361353, 0.6136998 , 0.24954031,
        0.        , 0.        , 0.        , 0.09645025, 0.42243806,
        0.42766568, 0.        , 0.        , 0.2962186 , 0.        ,
        0.        , 0.        , 0.5843457 , 0.        ],
       [0.97369623, 0.09862398, 1.2549014 , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.04322518, 0.        , 0.        ,
        0.        , 1.1733276 , 0.        , 0.        , 0.        ,
        0.        , 0.79241693, 0.        , 0.25825876, 0.39108393,
        0.        , 1.456582  , 0.17382003, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 1.0351079 ,
        0.        , 0.87949044, 1.5238905 , 0.        , 0.4116471 ,
        0.        , 0.        , 0.        , 0.        , 0.5982914 ,
        0.        , 0.70342314, 0.        , 0.1205615 , 0.5896823 ,
        0.        , 0.        , 0.09814091, 0.        , 0.09032991,
        0.85785806, 0.12362192, 0.5363657 , 0.56289685, 0.17138731,
        0.        , 0.        , 0.        , 0.64850396],
       [0.        , 0.5527378 , 0.10839211, 0.5614188 , 0.        ,
        0.        , 0.54599994, 0.        , 0.7510798 , 0.23896566,
        0.51657426, 0.15929756, 0.        , 0.        , 0.        ,
        0.1609196 , 0.183331  , 0.        , 0.        , 0.53575677,
        0.        , 0.35941997, 0.        , 0.33479643, 0.45706472,
        1.24087   , 0.6669966 , 0.        , 0.34376565, 0.        ,
        0.24536538, 0.74883056, 0.        , 0.        , 0.7235772 ,
        0.10315637, 0.790004  , 0.24487087, 0.        , 0.03505377,
        0.21307832, 0.09277226, 0.00335705, 0.        , 0.        ,
        0.15412566, 0.        , 0.        , 0.21452431, 0.43438774,
        0.        , 0.92810076, 0.1769778 , 0.38504255, 0.0216873 ,
        0.03230169, 0.2557281 , 0.        , 0.11412279, 1.1967345 ,
        0.        , 0.26173276, 0.        , 0.        ],
       [0.41778022, 0.3246784 , 0.        , 0.        , 0.28748336,
        0.        , 0.22584881, 0.        , 0.        , 0.21030137,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.33391613, 0.07303078, 0.564637  , 0.        , 0.        ,
        0.27252147, 0.13633902, 0.        , 0.        , 0.6067087 ,
        0.08003543, 0.5684186 , 0.00156239, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.19598638, 0.        , 0.05250027, 0.0624334 ,
        0.        , 0.00200458, 0.04888273, 0.        , 0.        ,
        0.42685968, 0.33034343, 0.        , 0.3065888 , 0.36154807,
        0.        , 0.        , 0.        , 0.71975243, 0.70183635,
        0.24651588, 0.08675249, 0.01998733, 0.26390472, 0.3592732 ,
        0.        , 0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.27441478, 0.5510274 , 0.15758662,
        0.        , 0.06683742, 0.        , 0.54157495, 0.2617555 ,
        0.        , 0.        , 0.        , 0.        , 0.01902976,
        0.        , 0.        , 0.        , 0.        , 0.14842983,
        0.        , 0.41914648, 0.        , 0.2269019 , 0.5065739 ,
        0.55890334, 0.6964889 , 0.        , 0.28675696, 0.        ,
        0.        , 0.077829  , 0.        , 0.        , 0.6509782 ,
        0.05626463, 0.7695457 , 0.35567012, 0.01898514, 0.22994855,
        0.5856554 , 0.28765133, 0.        , 0.07787086, 0.        ,
        0.        , 0.10671949, 0.        , 0.31540906, 0.24003641,
        0.22871113, 0.6204011 , 0.47662884, 0.        , 0.        ,
        0.29189825, 0.09851082, 0.24352384, 0.12319719, 0.26810747,
        0.22196367, 0.        , 0.        , 0.        ],
       [0.07660831, 0.06084073, 0.18891202, 0.82395065, 0.23632663,
        0.        , 0.04010244, 0.        , 0.        , 0.        ,
        0.27593976, 0.4766662 , 0.45081624, 0.        , 0.        ,
        0.54779613, 0.06652848, 0.        , 0.00693802, 0.26458448,
        0.        , 0.5673499 , 0.        , 0.28755167, 1.1184175 ,
        0.26383552, 0.2363763 , 0.1544766 , 0.        , 0.        ,
        0.        , 0.70488125, 0.36764976, 0.15581954, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.42806277,
        0.2945029 , 0.1082527 , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.02131151, 0.03979771, 0.2752768 ,
        0.        , 0.10686459, 0.        , 0.10316189, 0.16075617,
        0.        , 0.        , 0.        , 0.13146539, 0.39867318,
        0.        , 0.12155503, 0.6742365 , 0.        ],
       [0.        , 0.5616295 , 0.5640056 , 0.        , 0.3428618 ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.06329603, 0.        , 0.14302094, 0.        , 0.        ,
        0.20170541, 0.46344241, 0.        , 0.        , 0.        ,
        0.        , 0.6166012 , 0.        , 0.2272249 , 0.60714245,
        0.8639162 , 0.57963365, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.34528145, 0.        , 0.90225935,
        0.25262797, 1.1003783 , 0.9970666 , 0.4164975 , 0.4846187 ,
        0.6383546 , 0.47421405, 0.        , 0.        , 0.18614864,
        0.        , 0.0570225 , 0.        , 0.07698163, 0.74681014,
        0.        , 0.6104245 , 0.0084789 , 0.        , 0.17881088,
        0.        , 0.39797238, 0.        , 0.23239195, 0.49397573,
        0.03617403, 0.        , 0.13745967, 0.21432357],
       [0.799651  , 0.        , 0.7845168 , 1.2370323 , 0.        ,
        0.        , 0.23976661, 0.08708832, 0.30761003, 1.040678  ,
        0.        , 0.        , 0.        , 0.        , 0.06322329,
        0.30559704, 0.        , 0.        , 0.29873842, 0.6221841 ,
        0.        , 0.56506246, 0.34589812, 0.6509346 , 1.1997248 ,
        0.5011668 , 1.5245906 , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.69850296,
        0.        , 0.56804866, 0.        , 1.2463436 , 0.311996  ,
        0.86007476, 0.3104873 , 0.        , 0.        , 0.07200632,
        0.5457714 , 0.        , 0.        , 0.        , 0.8718303 ,
        0.42942744, 0.        , 0.17975518, 0.        , 0.        ,
        0.9361554 , 0.        , 0.        , 0.5225645 , 0.14311244,
        0.6230517 , 0.        , 0.        , 0.        ],
       [0.        , 0.14741905, 0.11760335, 0.28565353, 0.01300884,
        0.        , 0.18516122, 0.        , 0.22984418, 0.31321275,
        0.        , 0.6429475 , 0.35624084, 0.        , 0.34589037,
        0.62542045, 0.        , 0.        , 0.        , 0.32180962,
        0.        , 0.53370726, 0.        , 0.28873765, 1.5458932 ,
        0.15810014, 0.        , 0.16205755, 0.        , 0.        ,
        0.        , 0.76699173, 0.        , 0.35748246, 0.6898257 ,
        0.        , 0.06924091, 0.        , 0.        , 0.78204244,
        0.26354453, 0.        , 0.2231279 , 0.        , 0.06038623,
        0.23276351, 0.        , 0.        , 0.28216857, 0.32025206,
        0.        , 0.        , 0.        , 0.6779074 , 0.        ,
        0.        , 0.        , 0.        , 0.65293366, 1.235366  ,
        0.10390178, 0.25852013, 0.25058928, 0.        ],
       [0.4637822 , 0.3981467 , 0.        , 0.        , 0.0562111 ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.11253185, 0.11899978, 0.        , 0.        , 0.        ,
        0.13562976, 0.19009577, 0.62637013, 0.09149701, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.6300945 ,
        0.7368441 , 0.6809399 , 0.22807433, 0.        , 0.        ,
        0.        , 0.08732138, 0.        , 0.03220955, 0.1241699 ,
        0.        , 0.38426885, 0.25114596, 0.7269284 , 0.06130774,
        0.81855685, 0.01993664, 0.        , 0.        , 0.        ,
        0.26862487, 0.        , 0.        , 0.09697562, 0.87446153,
        0.06784093, 0.15094166, 0.        , 0.        , 0.18200827,
        0.5370649 , 0.5619895 , 0.        , 0.1505554 , 0.19643234,
        0.        , 0.        , 0.08108207, 0.11220994]], dtype=float32)

In [64]:
class PrintDot(keras.callbacks.Callback):
    def on_epoch_end(self, epoch, logs):
        if epoch % 100 == 0: print('')
        print('.', end='')
        
EPOCHS = 1000

history = net.fit(
normed_X, y,
epochs=EPOCHS, validation_split=0.2, verbose=0,
callbacks=[PrintDot()])

........................

KeyboardInterrupt: